.DashboardTitle
	width: 50%
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	position: absolute
	left: 100px
	z-index: -1
	margin: 0
	font-weight: bold
.Dashboard
	position: fixed
	top: 50px
	bottom: 0
	right: 0
	left: 0
	z-index: -1
.navbar-toggle
	margin-top: 10px
	margin-bottom: 10px

@media screen and (min-width: 768px)
	.DashboardTitle
		left: 340px