.DepartmentBox
	height: 100%
	width: 100%
	padding: 5px
	overflow-y: auto
	h2
		margin: 0 !important
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	table > thead > tr > th, table > tbody > tr > td
		padding: 4px 0
		text-align: right
	.columnMaxWidth
		text-align: left
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 55%
		max-width: 55%
.gu-mirror
	.columnMaxWidth
		text-align: left
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 300px
		max-width: 300px !important
	td
		padding: 15px
