@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss"

.DepartmentBox
	height: 100%
	width: 100%
	padding: 5px
	overflow-y: auto
	h2
		margin: 0 !important
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	table > thead > tr > th, table > tbody > tr > td
		padding: 4px 0
		text-align: right
		vertical-align: middle
	.columnMaxWidth
		text-align: left
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 40%
		max-width: 40%
.gu-mirror
	.columnMaxWidth
		text-align: left
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 300px
		max-width: 300px !important
	td
		padding: 15px
		vertical-align: middle
li
	.DepartmentBox
		font-size: 10px !important
		h2
			font-size: 14px !important
		.columnMaxWidth
			max-width: 60px
			width: 60px


.MetricBox
	display: inline-block
	cursor: pointer
	.MetricTable
		margin: 0
		background-color: transparent !important
		font-size: .8em
		tbody
			td
				padding: 0 5px !important
				text-align: right
			td.MonthTitle
				text-align: center
				border: solid 1px white
			th
				color: inherit
				padding: 0
				text-align: right


.GoingWell
	color: green
	.MetricTable
		.MonthTitle
			color: #fff
			background-color: #18bc9c


.GoingBad
	color: red
	.MetricTable
		.MonthTitle
			color: #fff
			background-color: #e74c3c