.Relationator
	.Expander
		width: 20px
		height: 20px
	li
		min-height: 35px
		> span
			font-size: 12px
			margin: 0 !important
			display: inline-block
			position: relative
			padding: 0 4px
			top: -1px