<div class="DepartmentBox">
    <h2><!-- <span class="btn btn-xs glyphicon glyphicon-cog" ng-if="!isFullScreen" style="position: relative;top: -2px;left: -3px;" ng-click="openBoxConfig(department);"></span> -->{{department.Title}}</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">Metrics</th>
                <th style="">Current</th>
                <th style="">Goal</th>
                <th style="">Basis</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="metric in department.Metrics">
                <td style="text-align:left;">
                    <span class="btn btn-xs glyphicon glyphicon-cog" ng-if="!$parent.$parent.isFullScreen" style="position: relative;top: -2px;left: -3px;" ng-click="editMetric(metric);"></span> {{metric.Title}}
                </td>
                <td>{{metric.FormattedCurrentValue}}</td>
                <td>{{metric.EqualityValue}} {{metric.FormattedGoalValue}}</td>
                <td>{{metric.BasisValue}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">Initiatives</th>
                <th style="">Due Date</th>
                <th style="">Progress</th>
                <th style="">Target Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="initiative in department.Initiatives">
                <td style="text-align:left;">
                    <span class="btn btn-xs glyphicon glyphicon-cog" ng-if="!$parent.$parent.isFullScreen" style="position: relative;top: -2px;left: -3px;" ng-click="editInitiative(initiative);"></span> {{initiative.Title}}
                </td>
                <td>{{initiative.DueDate | date:'mediumDate'}}</td>
                <td>{{initiative.ProgressValue | number:2}} %</td>
                <td>{{initiative.ActualDate | date:'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>
