<div class="DepartmentBox">
    <h2>{{department.Title}}</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">Metrics</th>
                <th style="width:30%;">Current</th>
                <th style="width:30%;">Goal</th>
                <th style="width:30%;">Basis</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="metric in department.Metrics">
                <td style="text-align:left;">{{metric.Title}}</td>
                <td>{{metric.FormattedCurrentValue}}</td>
                <td>{{metric.EqualityValue}} {{metric.FormattedGoalValue}}</td>
                <td>{{metric.BasisValue}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">Initiatives</th>
                <th style="width:30%;">Due Date</th>
                <th style="width:30%;">Progress</th>
                <th style="width:30%;">Target Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="initiative in department.Initiatives">
                <td style="text-align:left;">{{initiative.Title}}</td>
                <td>{{initiative.DueDate | date:'mediumDate'}}</td>
                <td>{{initiative.ProgressValue | number:2}} %</td>
                <td>{{initiative.ActualDate | date:'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>
