<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">CMD</a>
            <p class="navbar-brand navbar-right DashboardTitle">
                <marquee>{{baseEntity.Name}} - {{baseEntity.Description}}</marquee>
            </p>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <div class="navbar-form navbar-right">
                <div class="form-group" style="width:80px;margin-top:-5px;height: 40px;">
                    <label style="font-size:8px;margin:0;color:#ffffff;">
                        Sorting
                        <br>Metrics / Initiatives
                    </label>
                    <input type="checkbox" style="margin:0;padding:0;" ng-model="sortingMetricsOrInitiatives" ng-change="on_change_sortingMetricsOrInitiatives(sortingMetricsOrInitiatives);">
                </div>
                <div class="form-group" style="width:60px;margin-top:-10px;">
                    <label style="color:#ffffff;font-size:8px;margin:0;">Min Rows</label>
                    <select ng-model="options.minRows" style="height:25px;padding:1px;font-size:10px;width:50px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="o as o for o in [1,2,3,4,5,10,15,20,25,30]"></select>
                </div>
                <div class="form-group" style="width:60px;margin-top:-10px;">
                    <label style="color:#ffffff;font-size:8px;margin:0;">Min Cols</label>
                    <select ng-model="options.minCols" style="height:25px;padding:1px;font-size:10px;width:50px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="o as o for o in [1,2,3,4,5,10,15,20,25,30]"></select>
                </div>
                <div class="form-group" style="width:130px;margin-top:-10px;">
                    <label style="color:#ffffff;font-size:8px;margin:0;">Scrollbar</label>
                    <select ng-model="options.gridType" style="height:25px;padding:1px;font-size:10px;width:120px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="gridType.gridType as gridType.Value for gridType in theGridTypes"></select>
                </div>
                <div class="form-group" style="width:330px;margin-top:5px;">
                    <!-- Take into account badge width with numbers are bigger than 9 -->
                    <button type="button" ng-class="{NeedsAttention:pendingToSave > 0}" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;" ng-click="saveAll();">Save <span class="badge">{{pendingToSave}}</span></button>
                    <button type="button" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;width:130px;" ng-click="modePresentation();">{{isDesignMode ? 'Presentation Mode' : 'Design Mode'}}</button>
                    <button type="button" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;" ng-click="fullScreen();"><span class="glyphicon glyphicon-fullscreen"></span></button>
                    <a href="#/dashboards" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;"><span class="glyphicon glyphicon-cog"></span></a>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 20px 0 0 0;"><span class="glyphicon glyphicon-user"></span> {{currentUser.Value}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="Dashboard" id="fullscreenMe" ng-show="!isLoading">
    <div gridster="options">
        <div gridster-item="department" ng-repeat="department in baseEntity.Departments">
            <department-box department="department"></department-box>
        </div>
    </div>
</div>
<div class="modal" id="modal-metricToSave">
    <div class="modal-dialog" style="max-width: 1200px;width:initial;">
        <div class="modal-content">
            <div class="modal-header" style="text-align: right;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveMetric(metricToSave)">Save</button>
                <h4 class="modal-Description pull-left">Update Metric</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="metricToSave.Title" tabindex="1">
                        <br>
                        <label>Description</label>
                        <textarea class="form-control" rows="3" ng-model="metricToSave.Description" tabindex="2"></textarea>
                        <!-- <div class="row">
                            <div class="col-xs-6">
                                <label>Current Value</label>
                                <input type="text" class="form-control" ng-model="metricToSave.CurrentValue" style="text-align:right;">
                            </div>
                            <div class="col-xs-6">
                                <label>Goal Value</label>
                                <input type="text" class="form-control" ng-model="metricToSave.GoalValue" style="text-align:right;">
                            </div>
                        </div> -->
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Format</label>
                                <select ng-model="metricToSave.FormatKey" class="form-control" ng-options="cat.id as cat.Value for cat in catMetricFormat" tabindex="3"></select>
                            </div>
                            <div class="col-xs-6">
                                <label>Comparator Method</label>
                                <select ng-model="metricToSave.ComparatorMethodKey" class="form-control" ng-options="cat.id as cat.Value for cat in catComparatorMethod" tabindex="4"></select>
                            </div>
                        </div>
                        <br>
                        <label>Basis</label>
                        <select ng-model="metricToSave.BasisKey" class="form-control" ng-options="cat.id as cat.Value for cat in catMetricBasis" tabindex="5"></select>
                        <br>
                        <label>Hidden for Dashboards</label>
                        <tags-input template="tag-template" ng-model="metricToSave.HiddenForDashboardsTags" key-property="id" display-property="Value" placeholder="Dashboards" add-from-autocomplete-only="true" add-on-blur="false" replace-spaces-with-dashes="false" on-tag-added="on_dashboardTag_Added($tag, metricToSave);">
                            <auto-complete source="loadDashboardsTags($query, metricToSave.HiddenForDashboardsTags)" min-length="1" load-on-focus="true" max-results-to-show="100" select-first-match="true" load-on-down-arrow="true"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="col-sm-7">
                        <label>History</label>
                        <table class="table table-hover table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Real Value</th>
                                    <th>Goal Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="datetime-local" class="form-control" style="height:35px;" ng-model="metricToSave.metricHistoryToAdd.ConvertedMetricDate" tabindex="7" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="height:35px;text-align:right;" ng-model="metricToSave.metricHistoryToAdd.CurrentValue" tabindex="8" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="height:35px;text-align:right;" ng-model="metricToSave.metricHistoryToAdd.GoalValue" tabindex="9" />
                                    </td>
                                    <td rowspan="2" style="vertical-align: middle;">
                                        <button class="btn btn-default" tabindex="11" ng-click="addMetricHistory(metricToSave.metricHistoryToAdd, metricToSave);">Add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <label>Note</label>
                                        <textarea class="form-control" row="1" ng-model="metricToSave.metricHistoryToAdd.Note" tabindex="10"></textarea>
                                    </td>
                                </tr>
                                <tr ng-repeat="metric in metricToSave.MetricHistorys | orderBy:'-ConvertedMetricDate'" data-toggle="popover" data-placement="top" data-trigger="focus" title="Note" data-content="{{metric.Note}}" onmouseover="popoverMetricNote(this, 'show')" onmouseout="popoverMetricNote(this, 'hide')">
                                    <td>{{metric.ConvertedMetricDate | date:'MMM/d/yy h:mm a'}}</td>
                                    <td style="text-align:right;">{{metric.FormattedCurrentValue}}</td>
                                    <td colspan="2" style="text-align:right;">{{metricToSave.EqualityValue}} {{metric.FormattedGoalValue}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveMetric(metricToSave)">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-initiativeToSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-Description">Update Initiative</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <br>
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="initiativeToSave.Title">
                    <br>
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="initiativeToSave.Description"></textarea>
                    <br>
                    <label>Due Date</label>
                    <input type="date" class="form-control" ng-model="initiativeToSave.ConvertedDueDate">
                    <br>
                    <label>Progress Value</label>
                    <div class="input-group">
                        <input type="number" style="text-align:right;" class="form-control" ng-model="initiativeToSave.ProgressValue" placeholder="Percentage">
                        <div class="input-group-addon">%</div>
                    </div>
                    <br>
                    <label>Target Date</label>
                    <input type="date" class="form-control" ng-model="initiativeToSave.ConvertedActualDate">
                    <br>
                    <label>Hidden for Dashboards</label>
                    <tags-input template="tag-template" ng-model="initiativeToSave.HiddenForDashboardsTags" key-property="id" display-property="Value" placeholder="Dashboards" add-from-autocomplete-only="true" add-on-blur="false" replace-spaces-with-dashes="false" on-tag-added="on_dashboardTag_Added($tag, initiativeToSave);">
                        <auto-complete source="loadDashboardsTags($query, initiativeToSave.HiddenForDashboardsTags)" min-length="1" load-on-focus="true" max-results-to-show="100" select-first-match="true" load-on-down-arrow="true"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveInitiative(initiativeToSave)">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-showHidden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Hidden Items</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" style="font-size: 1em;">
                    <thead>
                        <tr>
                            <th style="text-align:left;" class="columnMaxWidth">Metrics</th>
                            <th>Current</th>
                            <th>Goal</th>
                            <th>Basis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metric in getHiddenMetrics()">
                            <td class="columnMaxWidth">
                                <span class="btn btn-xs btn-default" style="position: relative;top: -2px;" ng-click="showMetric(metric);">Show</span> {{metric.Title}}
                            </td>
                            <td>{{metric.FormattedCurrentValue}}</td>
                            <td>{{metric.EqualityValue}} {{metric.FormattedGoalValue}}</td>
                            <td>{{metric.BasisValue}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:left;" class="columnMaxWidth">Initiatives</th>
                            <th style="">Due Date</th>
                            <th style="">Progress</th>
                            <th style="">Target Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="initiative in getHiddenInitiatives()">
                            <td style="text-align:left;" class="columnMaxWidth">
                                <span class="btn btn-xs btn-default" style="position: relative;top: -2px;" ng-click="showInitiative(initiative);">Show</span> {{initiative.Title}}
                            </td>
                            <td>{{initiative.ConvertedDueDate | date:'mediumDate'}}</td>
                            <td>{{initiative.ProgressValue | number:2}} %</td>
                            <td>{{initiative.ConvertedActualDate | date:'mediumDate'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">x</a>
        </div>
    </div>
</script>
