<div id="fullscreenMe">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand hidden-xs" style="padding:0 20px 0 0;margin:0;"><img src="scripts/reusable/cap-auto.png" class="CALogo" /></p>
                <a class="navbar-brand" href="" style="font-size: 30px;padding:12px 0 0 0;margin-bottom: 5px;" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="Capsonic Metrics Dashboard" onmouseover="popoverHandler(this, 'show')" onmouseout="popoverHandler(this, 'hide')">CMD</a>
                <p class="navbar-brand navbar-right DashboardTitle" ng-show="!isDesignMode">
                    <marquee>{{baseEntity.Name}} - {{baseEntity.Description}}</marquee>
                </p>
            </div>
            <!-- <img src="scripts/reusable/cap-auto.png" style="display: block; position: absolute; top: 5px; left: 5px; z-index: 1031;width:200px;" /> -->
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul ng-show="!isFullScreen" class="nav navbar-nav navbar-right" style="margin-right: 5px;">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 20px 0 0 0;"><span class="glyphicon glyphicon-user"></span> {{currentUser.Value}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Buttons -->
                <div class="navbar-form navbar-right">
                    <div class="form-group" style="width:410px;margin-top:3px;">
                        <!-- Take into account badge width with numbers are bigger than 9 -->
                        <div class="form-group pull-right" style="width:80px;margin-top:-10px;">
                            <label style="color:#ffffff;font-size:8px;margin:0;">Year</label>
                            <select ng-model="dashboardYear" style="height:25px;padding:1px;font-size:10px;width:70px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="year for year in availableYears"></select>
                        </div>
                        <button ng-show="!isFullScreen" type="button" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;" ng-click="fullScreen();"><span class="glyphicon glyphicon-fullscreen"></span></button>
                        <button ng-show="!isFullScreen" type="button" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;width:130px;" ng-click="modePresentation();">{{isDesignMode ? 'Presentation Mode' : 'Design Mode'}}</button>
                        <button ng-show="isDesignMode" type="button" ng-class="{NeedsAttention:pendingToSave > 0}" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;" ng-click="saveAll();">Save <span class="badge" style="font-size: .9em;">{{pendingToSave}}</span></button>
                        <a ng-show="isDesignMode" href="#/dashboards" class="btn btn-sm btn-default navbar-btn navbar-right" style="margin:0 5px 0 0;"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                </div>
                <!-- Options -->
                <div class="navbar-form navbar-right">
                    <div ng-show="isDesignMode" class="form-group" style="width:80px;margin-top:-5px;height: 40px;">
                        <label style="font-size:8px;margin:0;color:#ffffff;">
                            Sorting
                            <br>Metrics / Initiatives
                        </label>
                        <input type="checkbox" style="margin:0;padding:0;" ng-model="sortingMetricsOrInitiatives" ng-change="on_change_sortingMetricsOrInitiatives(sortingMetricsOrInitiatives);">
                    </div>
                    <div ng-show="isDesignMode" class="form-group" style="width:60px;margin-top:-10px;">
                        <label style="color:#ffffff;font-size:8px;margin:0;">Min Rows</label>
                        <select ng-model="options.minRows" style="height:25px;padding:1px;font-size:10px;width:50px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="o as o for o in [1,2,3,4,5,10,15,20,25,30]"></select>
                    </div>
                    <div ng-show="isDesignMode" class="form-group" style="width:60px;margin-top:-10px;">
                        <label style="color:#ffffff;font-size:8px;margin:0;">Min Cols</label>
                        <select ng-model="options.minCols" style="height:25px;padding:1px;font-size:10px;width:50px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="o as o for o in [1,2,3,4,5,10,15,20,25,30]"></select>
                    </div>
                    <div ng-show="isDesignMode" class="form-group" style="width:130px;margin-top:-10px;">
                        <label style="color:#ffffff;font-size:8px;margin:0;">Scrollbar</label>
                        <select ng-model="options.gridType" style="height:25px;padding:1px;font-size:10px;width:120px;margin-right:5px;top:16px;" class="form-control navbar-right" ng-options="gridType.gridType as gridType.Value for gridType in theGridTypes"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Dashboard" ng-show="!isLoading">
        <div gridster="options">
            <div gridster-item="department" ng-repeat="department in baseEntity.Departments">
                <department-box department="department"></department-box>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-MetricHistory-ReadOnly">
        <div class="modal-dialog" style="max-width: 660px;width:initial;">
            <div class="modal-content">
                <div class="modal-header" style="text-align: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 5px;">Close</button>
                    <h4 class="modal-title pull-left">Metric History</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-condensed" style="max-width: 250px;">
                                <thead>
                                    <tr>
                                        <th>
                                            Year
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="min-width: 90px;">
                                            {{dashboardYear}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <label> Goal Value </label>
                            <p class="form-control-static">{{metricToSave.EqualityValue}} {{metricToSave.FormattedGoalValue}}</p>
                        </div>
                    </div>
                    <br>
                    <label>History</label>
                    <div class="table-responsive">
                        <metric-history-read-only metric-year="metricToSave.SelectedMetricYear" metric="metricToSave"></metric-history-read-only>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-MetricHistory">
    <div class="modal-dialog" style="max-width: 660px;width:initial;">
        <div class="modal-content">
            <div class="modal-header" style="text-align: right;">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 5px;">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveAllMetricHistorys()" style="margin-left: 5px;">Save</button>
                <h4 class="modal-title pull-left">Metric History</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-condensed" style="max-width: 250px;">
                            <thead>
                                <tr>
                                    <th>
                                        Year
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="min-width: 90px;">
                                        <year-selectize metric="metricToSave"></year-selectize>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="RemoveMetricYear(metricToSave.SelectedMetricYear)" style="width:100%;">Remove Year</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <label> Goal Value </label>
                        <p class="form-control-static">{{metricToSave.EqualityValue}} {{metricToSave.FormattedGoalValue}}</p>
                    </div>
                </div>
                <br>
                <label>History</label>
                <div class="table-responsive">
                    <metric-history metric-year="metricToSave.SelectedMetricYear" metric="metricToSave"></metric-history>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveAllMetricHistorys()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-initiativeToSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-Description">Update Initiative</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <br>
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="initiativeToSave.Title">
                    <br>
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="initiativeToSave.Description"></textarea>
                    <br>
                    <label>Due Date</label>
                    <input type="date" class="form-control" ng-model="initiativeToSave.ConvertedDueDate">
                    <br>
                    <label>Progress Value</label>
                    <div class="input-group">
                        <input type="number" style="text-align:right;" class="form-control" ng-model="initiativeToSave.ProgressValue" placeholder="Percentage">
                        <div class="input-group-addon">%</div>
                    </div>
                    <br>
                    <label>Target Date</label>
                    <input type="date" class="form-control" ng-model="initiativeToSave.ConvertedActualDate">
                    <br>
                    <label>Hidden for Dashboards</label>
                    <tags-input template="tag-template" ng-model="initiativeToSave.HiddenForDashboardsTags" key-property="id" display-property="Value" placeholder="Dashboards" add-from-autocomplete-only="true" add-on-blur="false" replace-spaces-with-dashes="false" on-tag-added="on_dashboardTag_Added($tag, initiativeToSave);">
                        <auto-complete source="loadDashboardsTags($query, initiativeToSave.HiddenForDashboardsTags)" min-length="1" load-on-focus="true" max-results-to-show="100" select-first-match="true" load-on-down-arrow="true"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveInitiative(initiativeToSave)">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-showHidden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Hidden Items</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" style="font-size: 1em;">
                    <thead>
                        <tr>
                            <th style="text-align:left;" class="columnMaxWidth">Metrics</th>
                            <th>Current</th>
                            <th>Goal</th>
                            <th>Basis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metric in getHiddenMetrics()">
                            <td class="columnMaxWidth">
                                <span class="btn btn-xs btn-default" style="position: relative;top: -2px;" ng-click="showMetric(metric);">Show</span> {{metric.Title}}
                            </td>
                            <td>{{metric.FormattedCurrentValue}}</td>
                            <td>{{metric.EqualityValue}} {{metric.FormattedGoalValue}}</td>
                            <td>{{metric.BasisValue}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:left;" class="columnMaxWidth">Initiatives</th>
                            <th style="">Due Date</th>
                            <th style="">Progress</th>
                            <th style="">Target Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="initiative in getHiddenInitiatives()">
                            <td style="text-align:left;" class="columnMaxWidth">
                                <span class="btn btn-xs btn-default" style="position: relative;top: -2px;" ng-click="showInitiative(initiative);">Show</span> {{initiative.Title}}
                            </td>
                            <td>{{initiative.ConvertedDueDate | date:'mediumDate'}}</td>
                            <td>{{initiative.ProgressValue | number:2}} %</td>
                            <td>{{initiative.ConvertedActualDate | date:'mediumDate'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">x</a>
        </div>
    </div>
</script>
