<div class="container Relationator">
    <br>
    <div class="well well-sm">
        <form class="form-horizontal">
            <h4>Current Dashboard:</h4>
            <div class="form-group">
                <div class="col-sm-4 col-xs-12">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{baseEntity.Name}}
                    </p>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <label>Description</label>
                    <p class="form-control-static">
                        {{baseEntity.Description}}
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h4>{{relatedEntityName}}s in {{entityName}}</h4>
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="occuppiedEntities">
                <li id={{entity.id}} class="list-group-item" ng-repeat="entity in occuppiedEntities">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander pull-right btn btn-default btn-xs" ng-init="entity.expanded = '+'" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <objective-box></objective-box>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>{{relatedEntityName}} Available</h4>
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="availableEntities">
                <li id={{entity.id}} class="list-group-item" ng-repeat="entity in availableEntities">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander pull-right btn btn-default btn-xs" ng-init="entity.expanded = '+'" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <objective-box></objective-box>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
