<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CMD</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Dashboards</a></li>
                <li><a ng-href="#/departments">Departments</a></li>
                <li><a ng-href="#/metrics">Metrics</a></li>
                <li><a ng-href="#/initiatives">Initiatives</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container Relationator">
    <br>
    <div class="well well-sm">
        <form class="form-horizontal">
            <h4>Current {{entityName}}:</h4>
            <div class="form-group">
                <div class="col-sm-4 col-xs-12">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{baseEntity.Name}}
                    </p>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <label>Description</label>
                    <p class="form-control-static">
                        {{baseEntity.Description}}
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h4>{{relatedEntityName}}s in {{entityName}}</h4>
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="occuppiedEntities">
                <li id={{entity.id}} class="list-group-item" ng-repeat="entity in occuppiedEntities">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander pull-right btn btn-default btn-xs" ng-init="entity.expanded = '+';department = entity;" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <department-box></department-box>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>{{relatedEntityName}}s Available</h4>
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="availableEntities">
                <li id={{entity.id}} class="list-group-item" ng-repeat="entity in availableEntities">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander pull-right btn btn-default btn-xs" ng-init="entity.expanded = '+';department = entity;" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <department-box></department-box>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
