<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">CMD</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Dashboards</a></li>
                <li class="active"><a ng-href="#!/departments">Departments</a></li>
                <li><a ng-href="#!/metrics">Metrics</a></li>
                <li><a ng-href="#!/initiatives">Initiatives</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container Relationator">
    <br>
    <br>
    <br>
    <br>
    <div class="well well-sm">
        <form class="form-horizontal">
            <h4>Current {{entityName}}:</h4>
            <div class="form-group">
                <div class="col-sm-4 col-xs-12">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{baseEntity.Title}}
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br>
    <form action="" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="input" class="col-sm-2 control-label">Search:</label>
            <div class="col-sm-10">
                <input type="search" name="search" id="input" class="form-control" ng-model="search" ng-model-options="{debounce: 100}" ng-change="on_search(search)">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <h4>{{relatedEntityName}}s in {{entityName}}</h4>
            <input type="button" class="btn btn-link pull-right" style="position:absolute;top:5px;right:0;" value="Sort" ng-click="sortOccuppiedBy('Title');">
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="occuppiedEntities">
                <li id={{entity.id}} class="list-group-item ListElementDraggable" ng-repeat="entity in occuppiedEntities | orderBy:propertyNameOccuppied:reverseOccuppied">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander btn btn-default btn-xs" ng-init="entity.expanded = '+';" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <div class="form-group">
                            <label>Title</label>
                            <p class="form-control-static">{{entity.Title}}</p>
                            <label>Description</label>
                            <p class="form-control-static">{{entity.Description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>{{relatedEntityName}}s Available</h4>
            <input type="button" class="btn btn-link pull-right" style="position:absolute;top:5px;right:0;" value="Sort" ng-click="sortAvailableBy('Title');">
            <ul class="list-group well" dragula='"entities-bag"' dragula-model="availableEntities">
                <li id={{entity.id}} class="list-group-item ListElementDraggable" ng-repeat="entity in availableEntities | orderBy:propertyNameAvailable:reverseAvailable">
                    <span ng-show="entity.expanded == '+'">{{entity.Title}}</span>
                    <input type="button" class="Expander btn btn-default btn-xs" ng-init="entity.expanded = '+';" ng-value="entity.expanded" ng-click="entity.expanded = entity.expanded == '+' ? '-':'+'">
                    <div ng-show="entity.expanded == '-'">
                        <div class="form-group">
                            <label>Title</label>
                            <p class="form-control-static">{{entity.Title}}</p>
                            <label>Description</label>
                            <p class="form-control-static">{{entity.Description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
