<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CMD</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Dashboards</a></li>
                <li><a href="#/departments">Departments</a></li>
                <li><a ng-href="#/metrics">Metrics</a></li>
                <li class="active"><a ng-href="#/initiatives">Initiatives</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{currentUser.Value}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="btn btn-default navbar-btn navbar-right btnNewItem" ng-click="create()">New {{entityName}}</button>
    </div>
</div>
<br>
<br>
<br>
<div class="CRUDList container">
    <h2>{{listTitle}}</h2>
    <br>
    <div st-table="aCollection" st-safe-src="baseList">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <input st-search placeholder="Search" class="input-sm form-control" type="search" />
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;width:100px;"></th>
                        <th st-sort="Title" st-skip-natural="true">Title</th>
                        <th st-sort="Description" st-skip-natural="true">Description</th>
                        <th st-sort="DueDate" st-skip-natural="true">Due Date</th>
                        <th st-sort="ProgressValue" st-skip-natural="true">Progress Value</th>
                        <th st-sort="ActualDate" st-skip-natural="true">Target Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in aCollection">
                        <td style="text-align:center;">
                            <span class="btn btn-sm glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(item);"></span>
                            <span class="btn btn-sm glyphicon glyphicon-pencil" aria-hidden="true" ng-click="openEditItem(item);"></span>
                            <!-- <a href="" class="btn btn-sm btn-default" ng-href="#/initiative-departments?id={{item.id}}">Departments</a> -->
                        </td>
                        <td style="text-align:left;">{{item.Title}}</td>
                        <td style="text-align:left;">{{item.Description}}</td>
                        <td>{{item.ConvertedDueDate | date:'mediumDate'}}</td>
                        <td>{{item.ProgressValue | number:2}} %</td>
                        <td>{{item.ConvertedActualDate | date:'mediumDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-itemToSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-Description">{{modeSave}} {{entityName}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="itemToSave.Title">
                    <br>
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="itemToSave.Description"></textarea>
                    <br>
                    <label>Due Date</label>
                    <input type="date" class="form-control" ng-model="itemToSave.ConvertedDueDate">
                    <br>
                    <label>Progress Value</label>
                    <div class="input-group">
                        <input type="number" style="text-align:right;" class="form-control" ng-model="itemToSave.ProgressValue" placeholder="Percentage">
                        <div class="input-group-addon">%</div>
                    </div>
                    <br>
                    <label>Target Date</label>
                    <input type="date" class="form-control" ng-model="itemToSave.ConvertedActualDate">
                    <br>
                    <label>Hidden for Dashboards</label>
                    <tags-input template="tag-template" ng-model="itemToSave.HiddenForDashboardsTags" key-property="id" display-property="Value" placeholder="Dashboards" add-from-autocomplete-only="true" add-on-blur="false" replace-spaces-with-dashes="false" on-tag-added="on_dashboardTag_Added($tag, itemToSave);">
                        <auto-complete source="loadDashboardsTags($query, itemToSave.HiddenForDashboardsTags)" min-length="1" load-on-focus="true" max-results-to-show="100" select-first-match="true" load-on-down-arrow="true"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveModal()">{{modeSave}}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">x</a>
        </div>
    </div>
</script>
