<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CMD</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Dashboards</a></li>
                <li><a href="#/objectives">Objectives</a></li>
                <li><a ng-href="#/metrics">Metrics</a></li>
                <li class="active"><a ng-href="#/initiatives">Initiatives</a></li>
            </ul>
        </div>
        <button class="btn btn-default navbar-btn navbar-right" style="position:fixed;right:70px;top:0px;" ng-click="create()">New {{entityName}}</button>
    </div>
</div>
<div class="CRUDList container">
    <h2>{{listTitle}}</h2>
    <br>
    <div st-table="aCollection" st-safe-src="baseList">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <input st-search placeholder="Search" class="input-sm form-control" type="search" />
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;width:180px;"></th>
                        <th st-sort="Description" st-skip-natural="true">Description</th>
                        <th st-sort="DueDate" st-skip-natural="true">Due Date</th>
                        <th st-sort="ProgressValue" st-skip-natural="true">Progress Value</th>
                        <th st-sort="ActualDate" st-skip-natural="true">Actual Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in aCollection">
                        <td style="text-align:center;">
                            <span class="btn btn-sm glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(item);"></span>
                            <span class="btn btn-sm glyphicon glyphicon-pencil" aria-hidden="true" ng-click="openEditItem(item);"></span>
                            <a href="" class="btn btn-sm btn-default" ng-href="#/initiative-objectives?id={{item.id}}">Objectives</a>
                        </td>
                        <td>{{item.Description}}</td>
                        <td>{{item.DueDate | date:'mediumDate'}}</td>
                        <td>{{item.ProgressValue | number:2}} %</td>
                        <td>{{item.ActualDate | date:'mediumDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-itemToSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-Description">{{modeSave}} {{entityName}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="itemToSave.Description"></textarea>
                    <label>Due Date</label>
                    <input type="date" id="input" class="form-control" ng-model="itemToSave.DueDate">
                    <label>Progress Value</label>
                    <div class="input-group">
                        <input type="number" style="text-align:right;" class="form-control" ng-model="itemToSave.ProgressValue" placeholder="Percentage">
                        <div class="input-group-addon">%</div>
                    </div>
                    <label>Actual Date</label>
                    <input type="date" id="input" class="form-control" ng-model="itemToSave.ActualDate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveModal()">{{modeSave}}</button>
            </div>
        </div>
    </div>
</div>
