<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CMD</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Dashboards</a></li>
                <li><a href="#/departments">Departments</a></li>
                <li class="active"><a ng-href="#/metrics">Metrics</a></li>
                <li><a ng-href="#/initiatives">Initiatives</a></li>
            </ul>
        </div>
        <button class="btn btn-default navbar-btn navbar-right" style="position:fixed;right:70px;top:0px;" ng-click="create()">New {{entityName}}</button>
    </div>
</div>
<br>
<br>
<br>
<div class="CRUDList container">
    <h2>{{listTitle}}</h2>
    <br>
    <div st-table="aCollection" st-safe-src="baseList">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <input st-search placeholder="Search" class="input-sm form-control" type="search" />
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;width:100px;"></th>
                        <th st-sort="Description" st-skip-natural="true">Description</th>
                        <th st-sort="CurrentValue" st-skip-natural="true">Current Value</th>
                        <th st-sort="GoalValue" st-skip-natural="true">Goal Value</th>
                        <th st-sort="MetricBasis.Value" st-skip-natural="true">Basis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in aCollection">
                        <td style="text-align:center;">
                            <span class="btn btn-sm glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(item);"></span>
                            <span class="btn btn-sm glyphicon glyphicon-pencil" aria-hidden="true" ng-click="openEditItem(item);"></span>
                            <!-- <a href="" class="btn btn-sm btn-default" ng-href="#/metric-departments?id={{item.id}}">Departments</a> -->
                        </td>
                        <td>{{item.Description}}</td>
                        <td style="text-align:right;">{{item.FormattedCurrentValue}}</td>
                        <td style="text-align:right;">{{item.EqualityValue}} {{item.FormattedGoalValue}}</td>
                        <td>{{item.BasisValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-itemToSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-Description">{{modeSave}} {{entityName}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="input" class="form-control" ng-model="itemToSave.Description">
                    <label>Current Value</label>
                    <input type="text" id="input" class="form-control" ng-model="itemToSave.CurrentValue">
                    <label>Goal Value</label>
                    <input type="text" id="input" class="form-control" ng-model="itemToSave.GoalValue">
                    <label>Format</label>
                    <select ng-model="itemToSave.FormatKey" class="form-control" ng-options="cat.id as cat.Value for cat in catMetricFormat"></select>
                    <label>Basis</label>
                    <select ng-model="itemToSave.BasisKey" class="form-control" ng-options="cat.id as cat.Value for cat in catMetricBasis"></select>
                    <label>Comparator Method</label>
                    <select ng-model="itemToSave.ComparatorMethodKey" class="form-control" ng-options="cat.id as cat.Value for cat in catComparatorMethod"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveModal()">{{modeSave}}</button>
            </div>
        </div>
    </div>
</div>
